*{
    margin: auto;
    padding: 2%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



body{
    background-color: rgb(255, 194, 79)!important;
}

h1 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 24px;
     color: orangered !important;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000;    
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.par {
    width: 40%;
    text-align: left;
    line-height: 1.5;
}

img {
    width: 25%;
  }