*{
    margin: auto;
}

header {
    padding: 8%;
}

body{
    background-color:rgb (150,113,23);
}

h1 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 30px;
     color: orangered;
    text-shadow: 3px 3px 0 #000, 5px 5px 0 #000;    
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

h4 {
    text-align: left;
    font-size: large;
}


img {
    width: 25%;
  }